<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
</head>

<body>
    <div>
        This page will be refreshed automatically after <span id='refresh_countdown'></span> seconds. 
        <input type="checkbox" id="countdown_refresh_enable" checked>
        <label for="countdown_refresh_enable"> Allow Refresh</label>
    </div>

    <script type="text/javascript">
        const refresh_time = 60;
        var countDown = refresh_time;
    
        function countdown() {
            setInterval(function () {
                if(countDown == 0) {
                    if(isCountdownRefreshEnabled()) {
                        window.location.reload(1);
                        countDown = refresh_time
                    }
                    return;
                }
                countDown--;
                document.getElementById('refresh_countdown').innerHTML = countDown;
                return countDown;
            }, 1000);
        }
    
        function isCountdownRefreshEnabled() {
            return document.getElementById('countdown_refresh_enable').checked;
        }
    
        function enableCountdownRefresh() {
            document.getElementById('countdown_refresh_enable').checked = true;
        }
    
        function disableCountdownRefresh() {
            document.getElementById('countdown_refresh_enable').checked = false;
        }
    
    
        document.getElementById('refresh_countdown').innerHTML = countDown;
        countdown();
    </script>


    <br>
    <form action="/" method="POST">
        <input type="submit" value="Home" onclick="disableCountdownRefresh();">
    </form>


    <br>
    <br>
    <h1>{{title}}</h2>
    </h1>
    

    <script type="text/javascript">
        function sortTable(n, table_id) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById(table_id);
            
            for(attr of table.rows[0].getElementsByTagName("TH")) {
                attr.style.color=""
            }
            
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while(switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for(i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if(dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if(dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if(shouldSwitch) {
                        /* If a switch has been marked, make the switch
                        and mark that a switch has been done: */
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                        // Each time a switch is done, increase this count by 1:
                        switchcount ++;
                    } else {
                        /* If no switching has been done AND the direction is "asc",
                        set the direction to "desc" and run the while loop again. */
                        if(switchcount == 0 && dir == "asc") {
                            dir = "desc";
                            switching = true;
                        }
                }
            }

            if(dir == "asc") {
                table.rows[0].getElementsByTagName("TH")[n].style.color = "blue";
            } else {
                table.rows[0].getElementsByTagName("TH")[n].style.color = "yellow";
            }
        }
    </script>

    <p>{{description if description}}</p>
    <table class="main_table" id="core_table">
        <tr>
            {% for title_col_idx in range(title_row|length) %}
                {% set title = title_row[title_col_idx] %}
                <th onclick="sortTable({{title_col_idx}}, 'core_table')">{{title}}</th>
            {% endfor %}
        </tr>
        
        {% for row in table %}
            <tr>
                {% for col_idx in range(row|length) %}
                {% set item = row[col_idx] %}

                {% set action_on_item = action_handler_assigner_row and action_handler_assigner_row[col_idx] %}
                {% if action_on_item %}
                    {% set action_on_item = action_handler_assigner_row[col_idx](item, row) %}
                {% endif %}
                
                    <td>
                        {% if action_on_item %}
                            <a href={{ action_on_item }} onclick="disableCountdownRefresh();">{{item}}</a>
                        {% else %}
                            {{item}}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

</body>

<style>
.main_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.main_table td, .main_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.main_table tr:nth-child(even){background-color: #f2f2f2;}

.main_table tr:hover {background-color: #ddd;}

.main_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

</html>