{% extends "base.html" %}
{% block content %}
    <form action='{{url_for('students_list')}}' method='get'>
        <input type='submit' value='Back'/ >
    </form>
    
    <div>Name: {{name}}</div>
    <div>Email: {{email}}</div>
    <div>Date of Birth: {{dob}}</div>
    <div>Program: {{program}}</div>
    
    
    <h2>Currently registered for:</h2>
    <table>
    {% for row in registered %}
        <tr>
            <td>{{row[1]}}:{{row[2]}} -- {{row[3]}}</td>
        </tr>
    {% endfor %}
    </table>
    
    
    <h2>Available sections:</h2>
    
    <table>
    {% for row in available %}
        <tr>
            <td>{{row[1]}}:{{row[2]}} -- {{row[3]}}</td>
            <td>
                <form action='{{url_for('students_register',students_id=id,sections_id=row[0])}}' method='post'>
                    <input type='submit' value='Register'>
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
    
{% endblock %}