<!DOCTYPE html>
<html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script type="text/javascript">

    function drawLineChart(canvas_id, data_points) {
        var ctx = document.getElementById(canvas_id).getContext("2d");
        var points = [];
        var labels = [];

        max_count = 30

        Array.prototype.forEach.call(data_points, data_point => {
            points.push(data_point['Count'])
            labels.push(data_point['Timestamp'])
            max_count -= 1
        });

        while(max_count > 0){
            points.push("")
            labels.push('NaN')
            max_count -= 1
        }
       
        var data = {
            labels: labels,
            datasets: [{
                            fillColor: "rgba(220,220,220,0.5)",
                            strokeColor: "rgba(220,220,220,1)",
                            pointColor: "rgba(220,220,220,1)",
                            pointStrokeColor: "#fff",
                            data: points
                    }]
        }

        var chart = new Chart(ctx).Line(data, {
            scaleOverride : true,
            scaleSteps : 10,
            scaleStepWidth : 1,
            scaleStartValue : 0
        });

    };

</script>

<body>
<canvas id='worker_count_graph' height='550px', width='1255px' class = "graph"></canvas>
<script>
    drawLineChart('worker_count_graph', {{worker_count_by_time | tojson | safe}});
</script>
</body>

<style>
.graph {
    margin-top : 5%;
}
</style>

</html>