{% extends "base.html" %}
{% block content %}
    <div class='error'>{{error_msg if error_mag != None}}</div>
    
    <form action='{{url_for('courses_edit_save',id=id)}}' method='post'>
        <div><input type="submit" value="Save"></div>
        
        <div> 
        <label>Code</label>
        <input type='text' name='code' value='{{code if code  != None}}'>
        </div>
        
        <div>
        <label>Title</label>
        <input type='text' name='title' value='{{ctitle if ctitle  != None}}'>
        </div>

        <div>
        <label>Descripton</label>
        <input type='text' name='description' value='{{description if description  != None}}'>
        </div>

        <div><input type="submit" value="Save"></div>
    </form>
{% endblock %}