{% extends "base.html" %}
{% block content %}

    
    

    <table /> 
    <thead> 
           <th>ID</th>
           <th>Code</th>
           <th>Title</th>
           <th>Description</th>
           <th></th>
           
    </thead> 
    {% for row in cursor %}
        <tr>
            <td>{{ row[0]}}</td> 
            <td>{{ row[1]}}</td> 
            <td>{{ row[2]}}</td> 
            <td>{{ row[3]}}</td> 
      
      
      
      
      
      
      
      
      
      
      
        </tr>
    {% endfor %}
    </table>
{% endblock %}