{% extends "base.html" %}
{% block content %}
    <div class='error'>{{                       }}</div>
    
    <form action='{{url_for(                )}}' method='post'>
        <div><input type="submit" value="Save"></div>
        
       
        <div> 
        <label>Code</label>
        <input type='text' name='code' value='{{                }}'>
        </div>
        
        <div>
        <label>Title</label>
        <input type='text' name='title' value='{{               }}'>
        </div>

        <div>
        <label>Descripton</label>
        <input type='text' name='description' value='{{                 }}'>
        </div>

        <div><input type="submit" value="Save"></div>
    </form>
{% endblock %}