{% extends "base.html" %}
{% block content %}

    Welcome {{username}}

    <form action="/api/logout" method="GET">
        <input type="submit" value="Logout" onclick="return confirm('{{username}}, Do you really want to log out?')">
    </form>

    Upload your favorate photo here

    <form action="/api/upload" method="POST" enctype="multipart/form-data">
        <dl>
            <p>
                <!-- Should filter for only image files -->
                <input type="file" name="file" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>

    <form action="/api/thumbnail_display" method="POST">
        <button type="submit">thumbnail display test</button>
     </form>

{% endblock %}